@font-face	{
	font-family: entypo;
	src: url('fonts/entypo-social.ttf');
}

html {
	height: 100%;
}

body {
	height: 80%;
	margin-top: 0px;
	background-image: url('img/triangular.png');
	background-repeat: repeat;
}

#background-container {
	top: 0px;
	height: 100%;
	opacity: 0.5;
	margin-top: 0.5%;
	padding-top: 10%;
}

#container	{
	text-align: center;
}

#name	{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 4em;
	margin-top: 10%;
	color: #fff;
}

#icon-container	{
	margin-top: -2%;
}

.icon	{
	font-family: entypo;
	font-size: 6em;
	margin-left:10px;
	margin-right: 10px;
}

.icon a {
	text-decoration: none;
	color: #fff;
}

#linkedin-icon a:hover	{
	color: #444;
}

#twitter-icon a:hover	{
	color: #444;
}

#facebook-icon a:hover	{
	color: #444;
}

#footer	{
	width: 100%;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	bottom: 20px;
}

#footer a {
	font-family: Lato, sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
	margin: 0px 10px 0px 10px;
}

#footer a:hover	{
	text-decoration: underline;
}